* {
    font-family:Figtree, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p {
    margin: 0;
}

html, body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

#app {
    overflow-x: hidden;
    min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #1E90FF;
}

a {
    text-decoration: none;
}


/* Global styles */
.section {
    background: #FFF;
    padding: 10px 20px;
    border: 1px solid #000;
}

.form-inputs-container {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.form-control-group {
    display: flex;
    flex-direction: column;
}

.form-input {
    padding: 8px;
    border-radius: 4px;
    border-width: 1px;
    max-width: 250px;
}
